<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Suhe_slive.Suhe_slive" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="AR GPS sistem za android :D" android:icon="@mipmap/launcher_foreground">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAdCL4qICAFclHiq0G-acYBltgf19T-2yY" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
</manifest>